/* Tip, copy paste from 13c.01.01 & 13c.01.02 to get fonts and colors up and running ... */

body {
  margin: 0 auto;
}

/* Generel display, colors, fonts, sizes */

:root {
  --color-primary1: #f5f5f5;
  --color-primary2: #bfcde0;
  --color-secondary1: #5d5d81;
  --color-secondary2: var(--color-secondary1);
  --color-accent1: #3b3355;
  --color-accent2: #0d0e0e;
  --font-headings: "Lato", sans-serif;
  --font-buttons: "Francois One", sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-primary2);
  font-family: var(--font-headings);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  color: var(--color-secondary1);
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-secondary1);
  font-family: var(--font-headings);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a,
li {
  text-decoration: none;
  color: var(--color-accent1);
  font-family: var(--font-buttons);
}

a:hover {
  text-decoration: underline;
}

/* Images */
img {
  width: 100%;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
}

nav ul,
li {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

nav button {
  min-width: 50px;
  max-height: 30px;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary2);
  min-height: 20rem;
}

.header_graphics {
  background-image: url("birdie.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  margin: 2rem;
  background-position: 50%;
  min-width: 15rem;
}
/* Background image advantages */
.advantages_card_graphics {
  background-image: url("birdie.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  min-width: 8rem;
}

/* Section advantages */
#advantages {
  display: grid;
  justify-content: center;
}

.advantages_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1rem;
}

.advantages_card {
  display: flex;
  flex-direction: column;
}

.advantages_card_text {
}

/* Product */
#product {
  background-color: var(--color-secondary2);
}

#grid {
  display: flex;
  justify-content: space-between;
}

.product_graphics {
  background-image: url("birdie.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  min-width: 40rem;
  margin: 2rem;
}

/* Highlight */
.highlight_small_cards {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

/* Team */
#team {
  background-color: var(--color-secondary1);
}

.leftright {
  display: flex;
}

.team_graphics {
  background-image: url("birdie.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  min-width: 20rem;
  margin: 2rem;
}

/* Contact form */
#contact_form {
  max-width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#contact_form button {
  max-height: 40px;
  max-width: 100px;
}
.form_group {
  display: grid;
  grid-gap: 16px;
}
.under {
  grid-area: 3 / 1;
}
#name,
#email {
  grid-column: 1/2;
}

#message {
  grid-column: 1 / 3; /* let them take the full width */
}

/* Footer */
footer {
  background-color: var(--color-primary1);
  display: flex;
  justify-content: space-between;
}

#test {
  display: flex;
  flex-direction: column;
}
