/* Tip, copy paste from 13c.01.01 & 13c.01.02 to get fonts and colors up and running ... */

body {
  margin: 0 auto;
}

/* Generel display, colors, fonts, sizes */

:root {
  --color-primary1: #202020;
  --color-primary2: #3b3355;
  --color-secondary1: #5d5d81;
  --color-secondary2: var(--color-secondary1);
  --color-accent1: #bfcde0;
  --color-accent2: #f5f5f5;
  --font-headings: "Lato", sans-serif;
  --font-buttons: "Francois One", sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-accent2);
  font-family: var(--font-headings);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  color: var(--color-accent2);
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin: 0;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-accent2);
  font-family: var(--font-headings);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a,
li {
  text-decoration: none;
  color: var(--color-accent1);
  font-family: var(--font-buttons);
}

a:hover {
  text-decoration: underline;
}

/* Images */
img {
  width: 100%;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary2);
}

nav ul,
li {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

nav button {
  min-width: 50px;
  max-height: 30px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-primary1);
  min-height: 80vh;
  padding: 5%;
}
.header_text {
}

.header_graphics {
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 23rem;
  margin: 2rem;
  aspect-ratio: 1/1;
  background-position: 50%;
  min-width: 15rem;
}
/* Background image advantages */
.advantages_card_graphics {
  background-image: url("shells.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  min-height: 8rem;
  min-width: 8rem;
}

/* Section advantages */
#advantages {
  display: grid;
  justify-content: center;
  min-width: 50rem;
  background-color: var(--color-primary2);
  padding-top: 6%;
}

.advantages_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 3rem;
  padding-bottom: 10%;
  padding-top: 3%;
}

.advantages_card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent1);
  border-radius: 4px;
  min-height: 20rem;
  min-width: 15rem;
  cursor: pointer;
}

.advantages_card:hover {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary2);
  border-radius: 4px;
  box-shadow: 1rem 1rem 3rem rgb(35, 35, 35);
}

.advantages_card_text {
  margin: 3%;
}

/* Product */
#product {
  background-color: var(--color-primary1);
  padding: 5%;
}

#product h2 {
  padding: 3%;
}

#grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product_graphics {
  background-image: url("shells.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  min-width: 30rem;
  margin: 2rem;
  aspect-ratio: 1/1;
}

/* Highlight */
.highlight {
  background-color: var(--color-primary2);
  padding: 5%;
}

.highlight_small_cards {
  display: flex;
  justify-content: center;
  gap: 10rem;
  min-width: 30rem;
  padding: 5%;
}

.highlight_small_cards > div {
  min-width: 10rem;
  min-height: 7rem;
  padding: 1%;
  background-color: rgb(78, 78, 140);
}

/* Team */
#team {
  background-color: var(--color-primary1);
  padding: 5%;
}

#team h2 {
  padding: 2.2%;
}

.leftright {
  display: flex;
  align-items: center;
}

.team_graphics {
  background-image: url("shells.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  min-width: 20rem;
  margin: 2rem;
  aspect-ratio: 1/1;
}

/* Contact form */
#contact {
  display: grid;
  padding: 5%;
  grid-template-columns: 1fr;
  background-color: var(--color-primary2);
  justify-content: space-around;
  align-items: center;
}
#contact h2,
p {
  text-align: center;
}

#contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 50vw;
  margin-right: 1rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#contact_form button {
  max-height: 50px;
  max-width: 200px;
}
.form_group:nth-of-type(3),
.form_group:nth-of-type(4) {
  grid-column: span 2;
}
.form_group {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.form_group:nth-of-type(4) {
  display: flex;
  align-items: center;
}

/* Footer */
footer {
  background-color: var(--color-primary1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}

footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: var(--color-secondary1);
}

footer section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
