/* Tip, copy paste from 13c.01.01 & 13c.01.02 to get fonts and colors up and running ... */

body {
  margin: 0 auto;
}

/* Generel display, colors, fonts, sizes */

:root {
  --color-primary1: #dadada;
  --color-primary2: var(--color-primary1);
  --color-secondary1: #461025;
  --color-secondary2: rgb(19, 19, 19);
  --color-accent1: #cd912b;
  --color-accent2: var(--color-accent1);
  --font-headings: "Lato", sans-serif;
  --font-buttons: "Francois One", sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-secondary1);
  font-family: var(--font-headings);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  color: var(--color-secondary1);
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin: 0;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-secondary1);
  font-family: var(--font-headings);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a,
li {
  text-decoration: none;
  color: var(--color-primary1);
  font-family: var(--font-buttons);
}

a:hover {
  text-decoration: underline;
}

/* Images */
img {
  width: 100%;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary1);
  align-items: center;
  flex-wrap: wrap;
}

nav ul,
li {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

nav button {
  min-width: 50px;
  min-height: 2rem;
  background-color: var(--color-accent1);
  border: none;
  border-radius: 10px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-primary1);
  min-height: 80vh;
  padding: 5%;
}
.header_text {
}

.header_graphics {
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 23rem;
  margin: 2rem;
  aspect-ratio: 1/1;
  background-position: 50%;
  min-width: 15rem;
}
/* Background image advantages */
.advantages_card_graphics {
  background-image: url("shells.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  min-height: 8rem;
  min-width: 8rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

/* Section advantages */
#advantages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5%;
  background-color: var(--color-primary1);
}

.advantages_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 3rem;
  justify-content: space-around;
}

.advantages_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  min-height: 20rem;
  min-width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  cursor: pointer;
  border-radius: 1.5rem;
}

.advantages_card:hover {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary2);
  border-radius: 4px;

  border-radius: 1.5rem;
}

.advantages_card h3 {
  color: var(--color-secondary1);
}

.advantages_card p {
  color: var(--color-secondary2);
}

.advantages_card_text {
  margin: 3%;
}

/* Product */
#product {
  background-color: var(--color-primary1);
  padding: 5%;
}

#product h2 {
  padding-left: 8.5%;
}

#grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product_graphics {
  background-image: url("shells.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  min-width: 30rem;
  margin: 2rem;
  aspect-ratio: 1/1;
}

/* Highlight */

.highlight {
  background-color: var(--color-secondary1);
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: left;
  gap: 2rem;
  justify-items: center;
}
.highlight h2 {
  color: var(--color-primary1);
  max-width: 80%;
  text-align: center;
}

.highlight_small_cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.highlight_small_cards > div {
  padding: 1rem;
  background-color: var(--color-primary1);
  border-radius: 10px;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
}

.highlight button {
  min-width: 10rem;
  background-color: var(--color-accent1);
  border: none;
  border-radius: 10px;
  min-height: 2.5rem;
}

/* Team */
#team {
  background-color: var(--color-primary1);
  padding: 5%;
}

#team h2 {
  padding: 2.2%;
}

#team a {
  color: var(--color-accent1);
  font-weight: bold;
}

.leftright {
  display: flex;
  align-items: center;
}

.team_graphics {
  background-image: url("shells.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8rem;
  min-width: 20rem;
  margin: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#team h3,
li {
  color: var(--color-primary1);
}

.team_text {
  background-color: var(--color-secondary1);
  padding: 2%;
  border-radius: 1.5rem;
}

/* Contact form */
#contact {
  display: grid;
  padding: 5%;
  grid-template-columns: 1fr;
  background-color: var(--color-primary2);
  justify-content: space-around;
  align-items: center;
}
#contact h2 {
  text-align: center;
}

#contact p {
  text-align: center;
}
label {
  font-family: var(--font-headings);
}

#contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 50vw;
  margin-right: 1rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-secondary1);
  border-radius: 10px;
  padding: 5%;
}
#contact_form button {
  max-height: 50px;
  grid-column: span 2;
  background-color: var(--color-accent1);
  border: none;
  border-radius: 10px;
  min-height: 2.5rem;
}
.form_group:nth-of-type(3),
.form_group:nth-of-type(4) {
  grid-column: span 2;
}
.form_group {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.form_group:nth-of-type(4) {
  display: flex;
  align-items: center;
}

/* Footer */
footer {
  background-color: var(--color-secondary1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}

footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: var(--color-secondary1);
}

footer section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

/* Mobile */
@media (max-width: 750px) {
  nav {
    display: flex;
    padding: 0%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  nav a {
    margin-top: 5%;
  }

  ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0%;
  }

  nav button {
    margin-bottom: 5%;
  }
}
